{{ if isset .Site.Params "front" }}
{{ if .Site.Params.front.enable }}
<section class="intro">
    <div class="intro-layer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-4">
                    <div class="front-title">
                    Open Source microPlatforms for Developing Connected Devices
                    </div>
                    <div class="front-description">
                    Secure • Updatable • Lifetime Support
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 front-more-bottom front-more-fixed-width">
                    <a data-scroll class="btn btn-more animated bounce" href="#">
                        <i class="fa fa-angle-double-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
