{{ if isset .Site.Params "signup" }}
{{ if .Site.Params.signup.enable }}
<section class="overview background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="getstarted-heading">Get Started Today</h1>
                <p class="lead">Getting Started gives you access to our last
                public, open, end to end release of the microPlatforms so you
                can evaluate our product at no cost.</p>
                <p class="lead">When ready you can easily subscribe to get the
                latest builds of the Zephyr and/or Linux microPlatfoms, as
                well as access to the latest updates, security patches and new
                features to help you develop your new product.
                </p>
                <p>
                  <a class="btn btn-template-main getstarted-button" role="button" href="https://foundries.io">Get Started</a>
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
