/* your styles go here */
.navbar {
    z-index: 9000;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
}

.navbar ul.nav > li > a {
    font-weight: 400;
}

.front-intro {
    min-height: 300px;
    margin-top: -67px;
    background: url('../img/photogrid.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
}

.intro-layer {
    min-height: 300px;
    height: 100vh;
}

.front-title,
.front-description {
    font-weight: 300;
    letter-spacing: 0.08em;
    text-align: center;
}

.front-title {
    font-size: 43px;
    margin-top: 200px;
}

.front-description {
    font-size: 30px;
    margin-top: 50px;
}

.front-more-bottom {
    bottom: 0;
    position: absolute;
    padding-bottom: 2em;
}

.front-more-fixed-width {
    width: 250px;
    left: 50%;
    margin-left: -125px;
}

.btn-more {
    height: 60px;
    width: 60px;
    font-size: 35px;
    background: 0 0;
    cursor: pointer;
}

.front-title,
.btn-more,
.btn-more:visited {
    color: #ffffff;
}

.front-description,
.btn-more:hover {
    color: #FFA900;
}

.vision-title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.vision-description {
    font-size: 20px;
    margin-bottom: 50px;
}

.overview {
  position: relative;
  background: #000;
  padding: 60px 0;
}
.overview.background-image-fixed-2 {
  background: url('../img/photogrid.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box-simple .icon {
  color: #000;
  background-color: #FFA900;
  border-color: orange;
}

.box-simple .icon i {
  font-size: 1.5em;
}

.overview .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  filter: alpha(opacity=90);
}

.overview .lead {
    color: white;
    font-weight: 300;
}

.getstarted-heading {
    color: white;
    font-weight: 300;
}

#heading-breadcrumbs h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.08em;
}

.overview-heading {
    font-weight: 300;
    color: white;
    font-size: 1.3em;
}
.getstarted-button {
    text-align: center;
}

.overview-bullets li {
    font-weight: 300;
    font-size: 13px;
    text-align: left;
    font-size: 1.1em;

    /* margin-right: 5px; */
    color: white;
}

.btn-template-main {
  color: #000;
  background-color: #FFA900;
  border-color: orange;
}

.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active,
.open > .dropdown-toggle.btn-template-main {
  color: #FFA900;
  background-color: #fff;
  border-color: orange;
}

.btn-template-main-gettingstarted {
  border-color: orange;
  margin: 20px 1px 1px 1px;

}

.image-caption{
    font-size: .9em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

#copyright {
    padding: 20px 0;
}

.blockdiagram {
    text-align: center;
}

.blockdiagram img {
    margin: 0 auto;
    display: block;
}
