/* your styles go here */
.navbar {
    z-index: 9000;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
}

.front-intro {
    min-height: 300px;
    margin-top: -67px;
    background: url('../img/photogrid.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
}

.intro-layer {
    min-height: 300px;
    height: 100vh;
}

.front-title,
.front-description {
    font-weight: 300;
    letter-spacing: 0.08em;
    text-align: center;
}

.front-title {
    font-size: 43px;
    margin-top: 200px;
}

.front-description {
    font-size: 35px;
}

.front-more-bottom {
    bottom: 0;
    position: absolute;
    padding-bottom: 2em;
}

.front-more-fixed-width {
    width: 250px;
    left: 50%;
    margin-left: -125px;
}

.btn-more {
    height: 60px;
    width: 60px;
    font-size: 35px;
    background: 0 0;
    cursor: pointer;
}

.front-title,
.btn-more,
.btn-more:visited {
    color: #ffffff;
}

.front-description,
.btn-more:hover {
    color: #FFA900;
}
.overview {
  position: relative;
  background: #38a7bb;
  padding: 60px 0;
}
.overview.background-image-fixed-2 {
  background: url('../img/photogrid.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
