.product-title {
    font-weight: 450;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.product-highlight {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

.product-paragraph {
    font-size: 16px;
    margin-bottom: 20px;
}
