<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <div id="cookie-message">
      <p>
      &nbsp;&nbsp;&nbsp;&nbsp;opensourcefoundries.com uses cookies to ensure we give you the best experience on our website. | <a href="/cookie-policy.html" title="View our Cookie Policy">Find out more about cookies</a>
      </p>
  </div>

  {{ partial "head.html" . }}
  <body>
      <script>
          // Detect JS support used for cookie notice
          document.body.className = document.body.className + " js_enabled";
      </script>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "front.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "pillars.html" . }}

        {{ partial "get_started.html" . }}

        {{ partial "overview.html" . }}

        {{ partial "partners.html" . }}

        {{ partial "technologies.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "signup.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
